.summary{
    display: flex;
    justify-content: center;
    padding: 5vmax;
}

.first-block{
    flex: 50%;
    padding: 2vmax;
}

.first-block img{
    width: 100%;
    
}

.second-block{
    flex: 50%;
    padding: 2vmax;
}